.section {
  padding-block: 40px 60px;
  overflow: hidden;
}

.header {
  position: relative;
  z-index: 99;
}

.title {
  text-align: center;
}

.mapImage {
  width: 100%;
  height: auto;
}

.mapImageDesktop {
  display: none;
}

@media (min-width: 768px) {
  .section {
    padding-top: 64px;
  }

  .mapImageMobile {
    display: none;
  }

  .mapImageDesktop {
    display: block;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-top: 84px;
  }
}
