.city {
  margin-top: 28px;
  color: #fff;
}

.sites {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.site {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(255 255 255 / 0.6);
  font-size: 0.625rem; /* 10px */
  line-height: 0.875rem; /* 14px */
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.bullet {
  flex-shrink: 0;
  width: 6px;
  height: 5px;
}

@media (max-width: 767px) {
  .city {
    font-size: 1.875rem; /* 30px */
  }
  .site {
    color: #fff;
    /* text-4-md */
    font-family: "Schibsted Grotesk";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: -0.1px;
    text-transform: uppercase;
    opacity: 0.6;
  }
}

@media (min-width: 768px) {
  .city {
    margin-top: 42px;
  }

  .sites {
    grid-template-columns: 267px 1fr;
    gap: 13px 0;
    margin-top: 30px;
  }

  .site {
    gap: 10px;
    color: #fff;
    font-size: 1.0625rem; /* 17px */
    line-height: 1.4375rem; /* 23px */
    letter-spacing: 0;
    text-transform: none;
  }

  .bullet {
    width: 8px;
    height: 7px;
  }
}
