.frame {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 20px;
}

.item {
  font-style: normal;
}

.item + .item {
  padding-top: 24px;
  border-top: 0.4px solid rgb(0 0 0 / 0.4);
}

.title {
  margin-bottom: 30px;
  color: #000;
}

.rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0.8;
}

.row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.term {
  flex-shrink: 0;
  width: 77px;
  opacity: 0.6;
  text-transform: uppercase;
}

.link {
  transition: opacity 150ms ease;
}

@media (hover: hover) {
  .link:hover {
    opacity: 0.7;
  }
}

@media (min-width: 768px) {
  .frame {
    flex-direction: row;
    gap: 50px;
    padding: 6px 19px 7px;
  }

  .item + .item {
    padding-top: 0;
    padding-left: 50px;
    border-top: 0;
    border-left: 0.4px solid rgb(0 0 0 / 0.4);
  }

  .item:first-of-type {
    flex-shrink: 0;
    min-width: 249px;
  }
}
