.section {
  padding-block: 40px 80px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 40px;
}

@media (min-width: 768px) {
  .section {
    padding-top: 60px;
  }
}

@media (min-width: 1280px) {
  .section {
    padding-bottom: 110px;
  }

  .list {
    gap: 60px;
    margin-top: 81px;
  }
}
