.frame {
  position: relative;
}

.red,
.small,
.medium {
  --corner-offset: -0.5px;
}

.light,
.fine,
.fineLight {
  --corner-offset: 0px;
}

.fine .corner,
.fineLight .corner {
  scale: -1 1;
}

.corner {
  position: absolute;
  max-width: none;
  pointer-events: none;
}

.topLeft {
  top: var(--corner-offset);
  left: var(--corner-offset);
}

.topRight {
  top: var(--corner-offset);
  right: var(--corner-offset);
  transform: scaleX(-1);
}

.bottomLeft {
  bottom: var(--corner-offset);
  left: var(--corner-offset);
  transform: scaleY(-1);
}

.bottomRight {
  right: var(--corner-offset);
  bottom: var(--corner-offset);
  transform: rotate(180deg);
}
